name: pint ci

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  ci:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.head.repo.full_name == 'cloudflare/pint' }}
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false
          fetch-depth: 0

      - name: Fetch main branch
        run: |
          git fetch origin main
          git checkout main
          git fetch origin $GITHUB_HEAD_REF
          git checkout $GITHUB_HEAD_REF --

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.ver
          cache: false

      - name: Compile pint
        run: make build

      - name: Run pint ci
        run: ./pint -l debug -c .github/pint/pint.hcl ci
        env:
          GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
