name: pint ci

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Fetch main branch
        run: |
          git fetch origin main
          git checkout main
          git fetch origin $GITHUB_HEAD_REF
          git checkout $GITHUB_HEAD_REF --

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.3
          cache: true

      - name: Compile pint
        run: make build

      - name: Run pint ci
        run: ./pint -c .github/pint/pint.hcl ci
        env:
          GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
