name: Check go.mod

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  go-mod-tidy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          show-progress: false

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.ver
          cache: false

      - name: Run go mod tidy
        run: go mod tidy

      - name: Check for local changes
        run: git diff --exit-code
